<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link type="text/css" rel="stylesheet" href="/css/admin-style.css" />
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a href="/admin">Admin Home</a></li>
                <li class="main-header__item"><a href="/admin/add-user">Add User</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1><%= pageTitle %></h1>
        <h2>Users</h2>
        <% if (users.length > 0) { %>
        <ol>
        <% for(user of users) { %>
            <li><%=user.userName%></li>
        <% } %>
        </ol>
        <% } else { %>
        <h3 style="color: red;">No users available!</h3>
        <% } %>
        <h2>User Groups</h2>
        <h2>User Permissions</h2>
    </main>
</body>
</html>